span {
    font-size: 1.4rem;
}

.container {
    background: rgb(15, 15, 15);
    color: white;
}

.inner-footer {
    border-bottom: 1px solid gray;
}

.extend-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    padding: 20px 8%;
}

/*  .contact-info */
.contact-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-info .contact-email {
    display: flex;
    border: 1px solid white;
    margin-top: 10px;
    padding: 8px 10px;
}

.contact-info .contact-email input {
    background: none;
    color: white;
}

.contact-info .contact-email i {
    display: inline-block;
    rotate: 45deg;
}

.contact-info .contact-email i:hover {
    cursor: pointer;
}

/* .support-info */
.support-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.support-info p {
    width: 170px;
}

.support-info a {
    color: white;
    text-decoration: none;
}

/* .account */
.account-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.account-info a {
    color: white;
    text-decoration: none;
}

/* .quick-link */
.quick-link {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.quick-link a {
    color: white;
    text-decoration: none;
}

/* .downloads-apps */
.downloads-apps {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.downloads-apps .wrapper-app-info {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.downloads-apps .app-info,
.downloads-apps .downloads-info {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    gap: 10px;
}

.downloads-apps .app-info img {
    width: 70px;
    height: 70px;
}

.downloads-apps .downloads-info {
    display: flex;
    flex-direction: column;
}

.downloads-apps .downloads-info .app-google-play,
.downloads-apps .downloads-info .app-store {
    display: flex;
    align-items: center;
    gap: 5px;
    width: auto;
    border: 1px solid white;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.downloads-apps .downloads-info i {
    font-size: 1.8rem;
}

.downloads-apps .downloads-info div {
    display: flex;
    flex-direction: column;
}

.downloads-apps .downloads-info span:nth-child(1) {
    font-size: 1rem;
    padding: 0 3px;
}

.downloads-apps .downloads-info span:nth-child(2) {
    font-size: 1.2rem;
}

.downloads-apps .app-icon {
    display: flex;
    gap: 20px;
    font-size: 1.8rem;
}

.downloads-apps .app-icon a {
    color: white;
    padding: 6px;
}

/* .copyright */
.copyright {
    text-align: center;
    padding: 20px 0;
    color: rgb(118, 117, 117);
}
