* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #8758ff;
    color: white;
    font-size: 1.1rem;
}

/* Bật thông báo */
.toast-notification {
    position: fixed;
    top: 20px;
    right: 20px;

    width: auto;
    height: 50px;
    padding: 15px;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: #fff;
    color: #2b2bde;
    border-left: 6px solid #2b2bde;
    border-radius: 4px;
    box-shadow: 2px 2px 6px #1a1a40;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.5s ease;
    z-index: 999;
}

.toast-notification.show {
    opacity: 1;
    transform: translateY(0);
}

.toast-notification.error {
    font-size: 1.2rem;
    font-weight: 700;
    color: #f44336;
    border-left: 6px solid #f44336;
}

section {
    width: 800px;
    background-color: #1a1a40;
    margin: 40px auto;
    padding: 40px;
    border-radius: 6px;
    box-shadow: 2px 2px 6px #1a1a40;
}

h2 {
    font-size: 2rem;
    text-align: center;
    color: white;
}

.todo-form {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 auto;
}

.todo-input {
    width: 100%;
    padding: 16px 10px;
    border: 1px solid #8758ff;
    font-size: inherit;
    background-color: #1a1a40;
    color: white;
    caret-color: white;
    outline: none;
}

.todo-input::placeholder {
    font-size: inherit;
    color: #727272;
}

.todo-btn {
    width: 140px;
    height: auto;
    background-color: #8758ff;
    color: white;
    border: none;
    font-size: inherit;
    font-weight: 700;
    user-select: none;
    white-space: nowrap;
    cursor: pointer;
    transition: background-color 0.2s;
}

.todo-btn:hover {
    background-color: #8758ffb0;
}

span {
    margin: 10px 0 0;
    color: #ff3333;
    font-size: 0.7rem;
}

ul {
    margin-top: 40px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    padding: 16px 10px;
    border-radius: 4px;
    font-size: inherit;
    background-color: #8758ff;
    color: white;
    list-style: none;
    box-shadow: 0 2px 8px black;
}

li.editing {
    background: transparent;
    padding: 0;
    border: none;
}

.action-btn {
    display: flex;
    gap: 20px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.action-btn i {
    transition: scale 0.2s;
}

.action-btn i:hover {
    scale: 1.1;
}

.form-edit {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input-edit {
    width: 100%;
    padding: 16px 10px;
    border: 1px solid #8758ff;
    font-size: inherit;
    background-color: #1a1a40;
    color: white;
    caret-color: white;
    outline: none;
}

/* Responsive */

@media (max-width: 1199.98px) {
    section {
        width: 700px;
    }
}

@media (max-width: 767.98px) {
    body {
        padding: 10px;
    }

    section {
        width: 100%;
    }
}
