body {
    font-size: 1.8rem;
    overflow-x: hidden;
}

/* Header */
.header {
    background: #f8ebc9;
    padding: 80px 137px;
}

.header-inner {
    display: flex;
    justify-content: space-between;
}

.header-inner .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.4rem;
    font-weight: 900;
}

.header-inner .logo img {
    width: 20px;
    height: 20px;
}

.header-inner .logo span:last-child {
    font-size: 1.4rem;
    font-weight: normal;
}

/* Navigation */
.toggle-menu,
.close-btn {
    display: none;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-inner .menu {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.header-inner .menu li {
    list-style: none;
}

.header-inner a {
    font-family: inherit;
    color: inherit;
    text-decoration: none;
}

.header-inner .menu a:hover {
    color: #fd6038;
    transition: color 0.3s;
}

.header-inner .menu li:hover i {
    cursor: pointer;
    color: #fd6038;
}

.header-inner .menu li:last-child {
    position: relative;
}

.header-inner .menu li:last-child > ul {
    position: absolute;
    display: none;
    width: max-content;
    padding-top: 10px;
}

.header-inner .menu li:last-child > ul li {
    padding: 10px;
    border-bottom: 1px solid #313d39;
}

.header-inner .menu li:last-child:hover > ul {
    display: block;
}

.header-inner .contact a {
    font-weight: 700;
    transition: color 0.3s;
}

.header-inner .contact a:hover {
    color: #fd6038;
}

/* Info */
.heading-info {
    max-width: 670px;
    margin: 80px auto 0;
    text-align: center;
}

.heading-info .heading h1 {
    font-family: "Roboto Slab";
    font-size: 6rem;
    font-weight: 800;
}

.heading-info .heading p:last-of-type {
    margin-top: 20px;
}

.header-inner .contact a {
    font-weight: 700;
    transition: color 0.3s;
}

.header-inner .contact a:hover {
    color: #fd6038;
}

/* Main */
/* .story-item */
.story-item {
    padding: 80px 137px;
}

.story-item .inner .info .heading {
    font-family: "Roboto Slab";
    font-size: 4.2rem;
    margin-top: 10px;
}

.story-item .inner .info p:not(p:first-child) {
    margin-top: 40px;
}

.story-item .inner .info p:first-child {
    color: #fd6038;
}

.story-item .inner {
    display: flex;
    align-items: center;
    flex-shrink: 1;
    gap: 80px;
}

.story-item .inner .image {
    display: flex;
    height: auto;
}

.story-item .inner .image img {
    width: 100%;
    height: auto;
}

/* .gallery-item */
.gallery-item {
    padding: 80px 137px;
}

.gallery-item .inner .info {
    max-width: 469px;
    margin: 0 auto;
    text-align: center;
}

.gallery-item .inner .info .heading {
    font-family: "Roboto Slab";
    font-size: 4.2rem;
}

.gallery-item .inner .info p:last-child {
    margin-top: 20px;
    color: #586863;
}

.gallery-item .inner .gallery-image {
    width: 100%;
    height: 570px;
    margin-top: 40px;
    overflow: hidden;
}

.gallery-item .inner .gallery-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.gallery-item .switch-page {
    margin: 40px auto 0;
    text-align: center;
}

.gallery-item .inner a {
    font-size: 1rem;
    padding: 0 10px;
    text-decoration: none;
    color: #0e1412;
    transition: color 0.3s;
}

.gallery-item .inner a:hover {
    color: #fc4011;
}

/* countdown-item */
.countdown-item {
    padding: 80px 137px;
}

.countdown-item .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    width: 100%;
    height: 210px;
    margin: 0 auto;
    background: #fed464;
}

.countdown-item .wrapper .item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.countdown-item .wrapper .item span:first-child {
    font-family: "Roboto Slab";
    font-size: 6rem;
    font-weight: 800;
}

.countdown-item .wrapper .item span:last-child {
    font-size: 1.6rem;
    font-weight: 400;
}

/* .video-item */
.video-item {
    padding: 80px 137px;
}

.video-item .inner .info {
    max-width: 469px;
    margin: 0 auto;
    text-align: center;
}

.video-item .inner .info .heading {
    font-family: "Roboto Slab";
    font-size: 4.2rem;
    margin-top: 10px;
}

.video-item .inner .info p:last-child {
    margin-top: 20px;
    color: #586863;
}

.video-item .inner .video {
    position: relative;
    width: 100%;
    height: 570px;
    margin-top: 20px;
    overflow: hidden;
}

.video-item .inner .video img:first-child {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.video-item .inner .video img:first-child {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-item .inner .video img:last-child {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .team */
.team-item {
    background: #0e1412;
    padding: 80px 137px;
}

.team-item .inner .info {
    max-width: 469px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

.team-item .inner .info .heading {
    font-family: "Roboto Slab";
    font-size: 4.2rem;
    margin-top: 20px;
}

.team-item .inner .info p:last-child {
    margin-top: 20px;
}

.team-item .inner .team-image {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.team-item .inner .team-image .wrapper-img {
    width: calc(33.3% - 40px);
    height: 100%;
    margin-top: 40px;
    overflow: hidden;
}

.team-item .inner .team-image .wrapper-img .info-image {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.team-item .inner .team-image .wrapper-img .info-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 80% 0;
}

.team-item .inner .team-image .wrapper-img .info-image .btn {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%);
    font-family: "Manrope";
    font-weight: 600;
    padding: 15px 35px;
    cursor: pointer;
    user-select: none;
    background: #fd6038;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition-property: opacity visibility;
    transition-duration: 0.3s;
}

.team-item .inner .team-image .wrapper-img .info-image:hover .btn {
    opacity: 1;
    visibility: visible;
}

.team-item .inner .team-image .wrapper-img .info-name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-item .inner .team-image .wrapper-img .info-name span:first-child {
    font-size: 2.2rem;
    font-weight: 700;
    color: #fff;
}

.team-item .inner .team-image .wrapper-img .info-name span:last-child {
    font-size: 1.6rem;
    color: #beccc7;
    padding-top: 10px;
    margin-bottom: 20px;
}

/* awards */
.awards {
    background: #f8ebc9;
    padding: 80px 137px;
}

.awards .award-inner {
    display: flex;
    flex-direction: column;
}

.awards .award-inner .award-info {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.awards .award-inner .award-info .award-heading {
    font-family: "Roboto Slab";
    font-size: 4.2rem;
    margin-top: 20px;
}

.awards .award-inner .award-info p {
    margin-top: 20px;
    color: #586863;
}

.awards .award-inner .award-image {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

    margin-top: 40px;
}

.awards .award-inner .award-image .image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 270px;
    height: 270px;

    background: #fff;
    overflow: hidden;
}

.awards .award-inner .award-image img {
    width: 40%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s;
}

.awards .award-inner .award-image img:hover {
    cursor: pointer;
    transform: scale(110%);
}

/* Dealing With a Issue? */
.cta-item {
    padding: 80px 137px;
    background: #017848;
}

.cta-item .wrapper-info {
    max-width: 470px;
    text-align: center;
    margin: 0 auto;
    color: #fff;
}

.cta-item .wrapper-info .btn {
    display: inline-block;
    font-family: "Manrope";
    text-decoration: none;
    user-select: none;
    margin-top: 20px;
    padding: 15px 35px;
    color: #fff;
    background: #fd6038;
    transition: background-color 0.3s;
}

.cta-item .wrapper-info .btn:hover {
    background: #fc4011;
}

/* Footer */
footer {
    padding: 80px 137px;
    background: #0e1412;
    color: #fff;
}

footer .contact {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex-shrink: 1;
    width: 100%;
}

footer .contact h2 {
    font-size: 2rem;
}

footer .contact * :not(h2) {
    font-size: 1.6rem;
}

footer .contact .col {
    flex-grow: 1;
}

footer .contact .justice {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

footer .contact .justice span {
    margin-top: 20px;
}

footer .contact .pages {
    display: flex;
    flex-direction: column;
}

footer .contact .justice2 {
    display: flex;
    flex-direction: column;
}

footer .contact a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #beccc7;
    transition: color 0.3s;
}

footer .contact a:hover {
    color: #fd6038;
}

footer .contact .map {
    position: relative;
    width: 470px;
    height: 268px;
    overflow: hidden;
    border-radius: 4px;
}

footer .contact .map img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer .contact .map a {
    position: absolute;
    top: 0;
    left: 10px;
    display: inline-block;
    padding: 6px 20px;
    background: #fff;
    color: #0e1412;
    transition: background-color 0.3s;
}

footer .contact .map a:hover {
    background: #fd6038;
    color: #fff;
}

.about-justice {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 20px;
}

.about-justice .justice-icon .wrapper-logo {
    display: flex;
}

.about-justice .justice-icon .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-justice .justice-icon .logo img {
    width: 20px;
    height: 20px;
}

.about-justice .justice-icon .wrapper-logo .logo span:first-of-type {
    font-size: 2.4rem;
    font-weight: 900;
}

.about-justice .justice-icon .wrapper-logo .logo span:last-of-type {
    font-size: 1.4rem;
    font-weight: normal;
}

.about-justice .social {
    display: flex;
    gap: 20px;
}

.about-justice .social a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #313d39;
    padding-left: 10px;
    transition-property: background-color transform;
    transition-duration: 0.3s;
}

.about-justice .social i {
    display: inline-block;
    font-size: 1rem;
    color: #fff;
}

.about-justice .social a:hover {
    background: #fd6038;
    transform: scale(110%);
}
