@font-face {
    font-family: "Rajdhani";
    src: url(../fonts/Rajdhani-Regular.ttf);
}

@font-face {
    font-family: "Titillium Web";
    src: url(../fonts/TitilliumWeb-Black.ttf);
}

/* Background */
.auth {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background: url(../img/landing-background.jpg) no-repeat 0;
    background-size: cover;
}

.decoration {
    width: 64%;
    height: 140%;
    border-radius: 50%;
    background: url(../img/dot-texture.png) repeat 0 0 #fff;
    position: absolute;
    top: -20%;
    right: -32%;
    pointer-events: none;
}

.info {
    position: relative;
    top: 100px;
    left: 10%;

    width: 584px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Logo */
.info .logo {
    width: 60px;
}

/* Heading info */
.info .heading-info {
    margin-top: 10px;

    color: #fff;
    text-align: center;
}

.info .heading-info p {
    margin: 10px 64px 0;

    font-family: "Rajdhani", sans-serif;
    font-size: 2rem;
    line-height: 1.3;
}

.info .heading-info p:first-child {
    margin-bottom: -45px;

    font-size: 2.5rem;
}

.info .heading-info h1 {
    margin-top: 5px;

    font-family: "Titillium Web", sans-serif;
    font-weight: 900;
    font-size: 10rem;
}

/* Button Switch Login-Register */
.info .switch-btn {
    display: flex;
    overflow: hidden;

    width: 80%;

    margin-top: 50px;
    border: 2px solid #fff;
    border-radius: 10px;

    color: #fff;
}

.info .switch-btn label {
    width: 180px;
    padding: 15px;

    width: 50%;

    font-family: "Rajdhani", sans-serif;
    font-size: 1.6rem;
    font-weight: 900;
    text-align: center;
    color: #fff;

    cursor: pointer;
}

.info .switch-btn > input:checked + .tab-switch-btn {
    background: #fff;
    color: #333;
}

/* form Login */
.auth .form-box .form-login-wrapper {
    position: absolute;
    top: 50px;
    right: 10%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 20px;

    width: 485px;
    height: 630px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 5px -5px 20px;
    opacity: 1;
    visibility: visible;
    transition-property: right opacity visibility;
    transition-duration: 0.3s;
}

.auth .form-box .form-login-wrapper .img-rocket {
    position: absolute;
    top: -45px;
    left: -66px;
    z-index: 1;
}

.auth .form-box .form-login-wrapper .form-heading {
    font-size: 2.5rem;
    color: #333;
    margin: 20px auto;
}

.form-login-wrapper .form-login {
    margin: 10px 60px;
}

.form-login-wrapper .form-login input {
    width: 100%;
    margin-top: 20px;
    padding: 15px 20px;
    border: 1px solid #eee;
    border-radius: 10px;
}

.form-login .form-email,
.form-login .form-password {
    position: relative;
}

.form-login .form-email label,
.form-login .form-password label {
    position: absolute;
    top: 32px;
    left: 20px;

    padding: 0 4px;
    font-weight: 600;
    background: #fff;

    pointer-events: none;
    transition-property: top font-size;
    transition-duration: 0.3s;
}

.form-login-wrapper .form-login input:focus {
    border: 2px solid violet;
}

.form-login .form-email input:focus + label,
.form-login .form-password input:focus + label {
    top: 10px;

    color: violet;
    font-size: 1.2rem;
}

.form-login input:not(:placeholder-shown) + label {
    top: 10px;

    font-size: 1.2rem;
}

.form-remember {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    font-family: "Rajdhani", sans-serif;
    font-size: 1.6rem;
    font-weight: 900;
}

.form-remember .remember {
    display: flex;
    flex-direction: row;
    color: #333;
}

.form-remember .remember {
    position: relative;

    display: flex;
    gap: 10px;
}

.form-remember .remember i {
    position: absolute;
    top: 5px;
    left: 2px;
    font-size: 1.6rem;
    color: #fff;
    opacity: 0;
    transition: opacity 0.2s;
}

.form-remember .remember span {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid #333;
    border-radius: 4px;
}

.form-remember .remember input:checked + label i {
    opacity: 1;
}

.form-remember .remember input:checked + label span {
    background: rgb(46, 120, 240);
}

.form-remember a {
    text-decoration: none;
    color: inherit;
}

.form-remember a:hover {
    color: blue;
}

.form-login .btn {
    width: 100%;
    margin-top: 20px;
    padding: 20px 20px;
    border-radius: 10px;
    background: rgba(46, 120, 240, 0.553);

    font-family: "Rajdhani", sans-serif;
    font-size: 1.6rem;
    font-weight: 900;
    color: #fff;

    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.form-login .btn:hover {
    opacity: 1;
}

.form-login .form-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    margin-top: 20px;
}

.form-login .form-item p {
    font-family: "Rajdhani", sans-serif;
    font-size: 1.6rem;
    font-weight: 900;
    color: #333;
}

.form-login .form-item div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.form-login .form-item a {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 3;
    color: #fff;
    border-radius: 10px;
    transition: transform 0.3s;
}

.form-login .form-item a:first-child {
    background: blue;
}

.form-login .form-item a:nth-child(2) {
    background: greenyellow;
}

.form-login .form-item a:nth-child(3) {
    background: violet;
}

.form-login .form-item a:last-child {
    background: red;
}

.form-login .form-item a:hover {
    transform: translateY(10px);
}

.auth:has(#register-btn:checked) .form-login-wrapper {
    right: 5%;
    opacity: 0;
}

/* Form Register */
.auth .form-box .form-register-wrapper {
    position: absolute;
    top: 50px;
    right: 10%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 20px;

    width: 485px;
    height: 630px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 5px -5px 20px;
    opacity: 1;
    transition-property: right opacity;
    transition-duration: 0.3s;
}

.auth .form-box .form-register-wrapper .img-rocket {
    position: absolute;
    top: -45px;
    left: -66px;
    z-index: 1;
}

.auth .form-box .form-register-wrapper .form-heading {
    font-size: 2.5rem;
    color: #333;
    margin: 20px auto;
}

.form-register-wrapper .form-register {
    margin: 10px 60px;
}

.form-register-wrapper .form-register input {
    width: 100%;
    margin-top: 20px;
    padding: 15px 20px;
    border: 1px solid #eee;
    border-radius: 10px;
}

.form-register .form-email,
.form-register .form-username,
.form-register .form-password,
.form-register .form-re-password {
    position: relative;
}

.form-register .form-email label,
.form-register .form-username label,
.form-register .form-password label,
.form-register .form-re-password label {
    position: absolute;
    top: 32px;
    left: 20px;

    padding: 0 4px;
    font-weight: 600;
    background: #fff;

    pointer-events: none;
    transition-property: top font-size;
    transition-duration: 0.3s;
}

.form-register-wrapper .form-register input:focus {
    border: 2px solid violet;
}

.form-register .form-email input:focus + label,
.form-register .form-username input:focus + label,
.form-register .form-password input:focus + label,
.form-register .form-re-password input:focus + label {
    top: 10px;

    color: violet;
    font-size: 1.2rem;
}

.form-register input:not(:placeholder-shown) + label {
    top: 10px;

    font-size: 1.2rem;
}

.form-receive-mail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    font-family: "Rajdhani", sans-serif;
    font-size: 1.6rem;
    font-weight: 900;
}

.form-receive-mail .receive-mail {
    display: flex;
    flex-direction: row;
    color: #333;
}

.form-receive-mail .receive-mail {
    position: relative;

    display: flex;
    gap: 10px;
}

.form-receive-mail .receive-mail i {
    position: absolute;
    top: 5px;
    left: 2px;
    font-size: 1.6rem;
    color: #fff;
    opacity: 0;
    transition: opacity 0.2s;
}

.form-receive-mail .receive-mail span {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid #333;
    border-radius: 4px;
}

.form-receive-mail .receive-mail input:checked + label i {
    opacity: 1;
}

.form-receive-mail .receive-mail input:checked + label span {
    background: rgb(46, 120, 240);
}

.form-receive-mail a {
    text-decoration: none;
    color: inherit;
}

.form-register-wrapper p {
    margin-top: 20px;
    font-family: "Rajdhani", sans-serif;
    font-size: 1.4rem;
    font-weight: 900;
    line-height: 1.6;
    color: #333;
}

.form-register .btn {
    width: 100%;
    margin-top: 20px;
    padding: 20px 20px;
    border-radius: 10px;
    background: rgba(46, 120, 240, 0.553);

    font-family: "Rajdhani", sans-serif;
    font-size: 1.6rem;
    font-weight: 900;
    color: #fff;

    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.form-register .btn:hover {
    opacity: 1;
}

.auth:has(#login-btn:checked) .form-register-wrapper {
    right: 5%;
    opacity: 0;
    visibility: hidden;
}
