body {
    font-size: 1.8rem;
    overflow-x: hidden;
}

/* Header */
.header {
    position: sticky;
    top: 0;
    z-index: 99;
    background: #f8ebc9;
    padding: 10px 137px;
}

.header-inner {
    display: flex;
    justify-content: space-between;
}

.header-inner .logo a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.4rem;
    font-weight: 900;
}

.header-inner .logo img {
    width: 20px;
    height: 20px;
}

.header-inner .logo span:last-child {
    font-size: 1.4rem;
    font-weight: normal;
}

/* Navigation */
.toggle-menu,
.close-btn {
    display: none;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-inner .menu {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.header-inner .menu li {
    list-style: none;
}

.header-inner a {
    font-family: inherit;
    color: inherit;
    user-select: none;
    text-decoration: none;
}

.header-inner .menu a:hover {
    color: #fd6038;
    transition: color 0.3s;
}

.header-inner .menu li:hover i {
    cursor: pointer;
    color: #fd6038;
}

.header-inner .menu li:last-child {
    position: relative;
}

.header-inner .menu li:last-child > ul {
    position: absolute;
    z-index: 2;
    display: none;
    width: max-content;
    padding-top: 10px;
    background: #f8ebc9;
    padding: 1px 11px;
    box-shadow: 0 20px 70px 0 rgba(14, 20, 18, 0.07);
}

.header-inner .menu li:last-child > ul li {
    padding: 10px;
    border-bottom: 1px solid #313d39;
}

.header-inner .menu li:last-child:hover > ul {
    display: block;
}

.header-inner .contact a {
    font-weight: 700;
    user-select: none;
    transition: color 0.3s;
}

.header-inner .contact a:hover {
    color: #fd6038;
}

/* Main */
/* contact */
.contact-item {
    padding: 80px 137px;
}

.contact-item .wrapper-info {
    max-width: 670px;
}

.contact-item .wrapper-info h2 {
    font-family: "Roboto Slab";
    font-size: 4.2rem;
}

.contact-item .wrapper-info p {
    color: #586863;
    margin-top: 20px;
}

/* form-register */
.contact-item .form-register {
    margin-top: 20px;
}

.contact-item .form-register .form-input {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.contact-item .form-register .form-input * {
    font-family: inherit;
}

.contact-item .form-register .form-input label {
    width: calc(50% - 20px);
}

.contact-item .form-register .form-input label:last-child {
    width: 100%;
    height: 330px;
    overflow: hidden;
}

.contact-item .form-register .form-input input,
.contact-item .form-register .form-input select,
.contact-item .form-register .form-input textarea {
    width: 100%;
    margin-top: 10px;
    padding: 15px 20px;
    border: 1px solid #beccc7;
}

.contact-item .form-register .form-input textarea {
    width: 100%;
    height: 80%;
    resize: none;
    font-family: inherit;
}

.contact-item .form-register .btn {
    text-align: right;
}

.contact-item .form-register .btn button {
    padding: 15px 30px;
    font-family: inherit;
    font-size: 1.8rem;
    user-select: none;
    text-align: right;
    background: #fd6038;
    color: #fff;
}

.contact-item .form-register button:hover {
    cursor: pointer;
    background: #fc4011;
}

/* Footer */
footer {
    padding: 80px 137px;
    color: #0e1412;
}

footer .contact {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    margin: 20px 0;
    border-bottom: 1px solid #313d39;
}

footer .contact h2 {
    font-size: 2rem;
}

footer .contact * :not(h2) {
    font-size: 1.6rem;
}

footer .contact .justice {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 20%;
}

footer .contact .justice span {
    margin-top: 20px;
}

footer .contact .pages {
    display: flex;
    flex-direction: column;
}

footer .contact .justice2 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

footer .contact a {
    display: inline-block;
    margin-top: 20px;
    user-select: none;
    text-decoration: none;
    color: #beccc7;
}

footer .contact a:hover {
    color: #fd6038;
}

footer .contact .map {
    position: relative;

    height: 268px;
    overflow: hidden;
    border-radius: 4px;
}

footer .contact .map img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

footer .contact .map a {
    position: absolute;
    top: 0;
    left: 10px;
    user-select: none;
    display: inline-block;
    padding: 6px 20px;
    background: #fff;
    color: #0e1412;
    transition: background-color 0.3s;
}

footer .contact .map a:hover {
    background: #fd6038;
    color: #fff;
}

.about-justice {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 20px;
}

.about-justice .justice-icon .wrapper-logo {
    display: flex;
}

.about-justice .justice-icon .logo a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.about-justice .justice-icon .wrapper-logo .logo img {
    width: 20px;
    height: 20px;
}

.about-justice .justice-icon .copyright {
    display: inline-block;
    margin-top: 20px;
}

.about-justice .justice-icon .wrapper-logo .logo a img:first-of-type {
    display: none;
}

.about-justice .social {
    display: flex;
    gap: 20px;
}

.about-justice .justice-icon .wrapper-logo .logo span:first-of-type {
    font-size: 2.4rem;
    font-weight: 900;
}

.about-justice .justice-icon .wrapper-logo .logo span:last-of-type {
    font-size: 1.4rem;
    font-weight: normal;
}

.about-justice .social a {
    display: inline-block;
    width: 30px;
    height: 30px;
    user-select: none;
    background: #313d39;
    padding-left: 10px;
    transition-property: background-color transform;
    transition-duration: 0.3s;
}

.about-justice .social i {
    display: inline-block;
    font-size: 1rem;
    color: #fff;
}

.about-justice .social a:hover {
    background: #fd6038;
    transform: scale(110%);
}

/* Back to top */
.back-to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 90;
    padding: 10px;
    border-radius: 50%;
    background: #fd6038;
    color: #fff;
}

.back-to-top:hover {
    background: #fc4011;
}
