body {
    font-size: 1.8rem;
    overflow-x: hidden;
}

/* Header */
.header {
    position: sticky;
    top: 0;
    z-index: 99;
    background: #f8ebc9;
    padding: 10px 137px;
}

.header-inner {
    display: flex;
    justify-content: space-between;
}

.header-inner .logo a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.4rem;
    font-weight: 900;
}

.header-inner .logo img {
    width: 20px;
    height: 20px;
}

.header-inner .logo span:last-child {
    font-size: 1.4rem;
    font-weight: normal;
}

/* Navigation */
.toggle-menu,
.close-btn {
    display: none;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-inner .menu {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.header-inner .menu li {
    list-style: none;
}

.header-inner a {
    font-family: inherit;
    color: inherit;
    user-select: none;
    text-decoration: none;
}

.header-inner .menu a:hover {
    color: #fd6038;
    transition: color 0.3s;
}

.header-inner .menu li:hover i {
    cursor: pointer;
    color: #fd6038;
}

.header-inner .menu li:last-child {
    position: relative;
}

.header-inner .menu li:last-child > ul {
    position: absolute;
    z-index: 2;
    display: none;
    width: max-content;
    padding-top: 10px;
    background: #f8ebc9;
    padding: 1px 11px;
    box-shadow: 0 20px 70px 0 rgba(14, 20, 18, 0.07);
}

.header-inner .menu li:last-child > ul li {
    padding: 10px;
    border-bottom: 1px solid #313d39;
}

.header-inner .menu li:last-child:hover > ul {
    display: block;
}

.header-inner .contact a {
    font-weight: 700;
    user-select: none;
    transition: color 0.3s;
}

.header-inner .contact a:hover {
    color: #fd6038;
}

/* Info */
.heading-info {
    display: flex;
    gap: 8rem;
    margin-top: 80px;
    padding: 10px 137px;
}

.heading-info .heading,
.heading-info .image {
    flex: 1;
    position: relative;
}

.heading-info .heading .scroll-heading:hover {
    cursor: pointer;
}

.heading-info .heading h1 {
    font-family: "Roboto Slab";
    font-size: 6rem;
    font-weight: 900;
    max-width: 470px;
}

.heading-info .heading .scroll-heading {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.heading-info .heading .scroll-heading div:first-child {
    text-align: center;
}

.heading-info .heading .scroll-heading div:first-child p {
    padding: 10px 0;
}

.heading-info .heading .scroll-heading div:last-child {
    height: 10px;
}

.heading-info .image .img-item img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.heading-info .image .decor img {
    position: absolute;
    top: 30%;
    left: -5%;
    z-index: 1;
    width: 15%;
}

.heading-info .image .decor span {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 3%;
    height: 40%;
    background: #fd6038;
}

.header-inner .contact a {
    font-weight: 700;
    user-select: none;
    transition: color 0.3s;
}

.header-inner .contact a:hover {
    color: #fd6038;
}

/* Main */
/* .team */
.team {
    padding: 80px 137px;
    background: #0e1412;
    color: #fff;
}

.team .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team .inner .info {
    text-align: center;
    width: 50%;
}

.team .inner .info .heading {
    font-family: "Roboto Slab";
    font-size: 4.2rem;
    margin-top: 20px;
}

.team .inner .info p {
    margin-top: 20px;
    color: #586863;
}

.team .inner .team-image {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.team .inner .team-image .wrapper-img {
    width: calc(33.3% - 40px);
    aspect-ratio: 1;
    margin-top: 40px;
    overflow: hidden;
}

.team .inner .team-image .wrapper-img .info-image {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.team .inner .team-image .wrapper-img .info-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 80% 0;
}

.team .inner .team-image .wrapper-img .info-image .btn {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%);
    font-family: "Manrope";
    font-weight: 600;
    font-size: 2.2rem;
    width: 80%;
    padding: 10px 0;
    user-select: none;
    cursor: pointer;
    background: #fd6038;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition-property: opacity visibility;
    transition-duration: 0.3s;
}

.team .inner .wrapper-img .info-image:hover .btn {
    opacity: 1;
    visibility: visible;
}

.team .inner .team-image .wrapper-img .info-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.team .inner .team-image .wrapper-img .info-name span:first-child {
    font-size: 2.2rem;
    font-weight: 600;
}

.team .inner .team-image .wrapper-img .info-name span:last-child {
    font-size: 1.6rem;
}

/* Dealing With a Issue? */
.cta-item {
    padding: 80px 137px;
    background: #017848;
}

.cta-item .wrapper-info {
    max-width: 470px;
    text-align: center;

    margin: 0 auto;
    color: #fff;
}

.cta-item .wrapper-info p:last-of-type {
    margin-top: 20px;
}

.cta-item .wrapper-info .btn {
    display: inline-block;
    font-family: "Manrope";
    text-decoration: none;
    user-select: none;
    margin-top: 20px;
    padding: 10px 20px;
    user-select: none;
    background: transparent;
    color: #fff;
    background: #fd6038;
    transition: background-color 0.3s;
}

.cta-item .wrapper-info .btn:hover {
    background: #fc4011;
}

/* Footer */
footer {
    padding: 80px 137px;
    background: #0e1412;
    color: #fff;
}

footer .contact {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    margin: 20px 0;
    border-bottom: 1px solid #313d39;
}

footer .contact h2 {
    font-size: 2rem;
}

footer .contact * :not(h2) {
    font-size: 1.6rem;
}

footer .contact .justice {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 20%;
}

footer .contact .justice span {
    margin-top: 20px;
}

footer .contact .pages {
    display: flex;
    flex-direction: column;
}

footer .contact .justice2 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

footer .contact a {
    display: inline-block;
    margin-top: 20px;
    user-select: none;
    text-decoration: none;
    color: #beccc7;
}

footer .contact a:hover {
    color: #fd6038;
}

footer .contact .map {
    position: relative;

    height: 268px;
    overflow: hidden;
    border-radius: 4px;
}

footer .contact .map img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

footer .contact .map a {
    position: absolute;
    top: 0;
    left: 10px;
    user-select: none;
    display: inline-block;
    padding: 6px 20px;
    background: #fff;
    color: #0e1412;
    transition: background-color 0.3s;
}

footer .contact .map a:hover {
    background: #fd6038;
    color: #fff;
}

.about-justice {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 20px;
}

.about-justice .justice-icon .wrapper-logo {
    display: flex;
}

.about-justice .justice-icon .logo a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.about-justice .justice-icon .logo img {
    width: 20px;
    height: 20px;
}

.about-justice .justice-icon .copyright {
    display: inline-block;
    margin-top: 20px;
}

.about-justice .social {
    display: flex;
    gap: 20px;
}

.about-justice .justice-icon .wrapper-logo .logo span:first-of-type {
    font-size: 2.4rem;
    font-weight: 900;
}

.about-justice .justice-icon .wrapper-logo .logo span:last-of-type {
    font-size: 1.4rem;
    font-weight: normal;
}

.about-justice .social a {
    display: inline-block;
    width: 30px;
    height: 30px;
    user-select: none;
    background: #313d39;
    padding-left: 10px;
    transition-property: background-color transform;
    transition-duration: 0.3s;
}

.about-justice .social i {
    display: inline-block;
    font-size: 1rem;
    color: #fff;
}

.about-justice .social a:hover {
    background: #fd6038;
    transform: scale(110%);
}

/* Back to top */
.back-to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 90;
    padding: 10px;
    border-radius: 50%;
    background: #fd6038;
    color: #fff;
}

.back-to-top:hover {
    background: #fc4011;
}
