.list {
    width: 300px;
    margin: 50px auto;
}

.up {
    color: green;
}

.down {
    color: red;
}

.up,
.down {
    cursor: pointer;
}

.selected {
    border: 1px dashed green;
}

ul {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    border: 1px solid red;
}

ul li {
    margin: 10px 0;
    padding: 5px 10px;
    user-select: none;
}

#context-menu {
    position: absolute;
    display: none;
    flex-direction: column;
    width: 100px;
    background: #7c7c7c;
    box-shadow: 0 2px 6px gray;
    z-index: 999;
}

#context-menu button {
    background: none;
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    user-select: none;
    cursor: pointer;
}

#context-menu button:hover {
    background-color: #007bff;
}

#rename {
    color: #fff;
}

#delete {
    color: #fe2222;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000005f;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 990;
}

#rename-box {
    background: #333;
    padding: 20px 0;
    width: 350px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#rename-box input {
    padding: 8px;
    font-size: 16px;
    outline: none;
}

#rename-box button {
    width: 100px;
    padding: 10px 8px;
    border: none;
    background-color: #007bff;
    color: white;
    user-select: none;
    cursor: pointer;
}

#rename-box button:hover {
    background-color: #0056b3;
}
