@font-face {
    font-family: "Manrope";
    src: url("../../final-module-1/assets/fonts/Manrope-Bold.ttf")
        format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: url("../../final-module-1/assets/fonts/Manrope-ExtraBold.ttf")
        format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: url("../../final-module-1/assets/fonts/Manrope-ExtraLight.ttf")
        format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: url("../../final-module-1/assets/fonts/Manrope-Light.ttf")
        format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: url("../../final-module-1/assets/fonts/Manrope-Regular.ttf")
        format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: url("../../final-module-1/assets/fonts/Manrope-Medium.ttf")
        format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto Slab";
    src: url("../../final-module-1/assets/fonts/RobotoSlab-Bold.ttf")
        format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto Slab";
    src: url("../../final-module-1/assets/fonts/RobotoSlab-Black.ttf")
        format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto Slab";
    src: url("../../final-module-1/assets/fonts/RobotoSlab-ExtraLight.ttf")
        format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto Slab";
    src: url("../../final-module-1/assets/fonts/RobotoSlab-ExtraBold.ttf")
        format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: url("../../final-module-1/assets/fonts/Manrope-SemiBold.ttf")
        format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto Slab";
    src: url("../../final-module-1/assets/fonts/RobotoSlab-Light.ttf")
        format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto Slab";
    src: url("../../final-module-1/assets/fonts/RobotoSlab-Regular.ttf")
        format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto Slab";
    src: url("../../final-module-1/assets/fonts/RobotoSlab-SemiBold.ttf")
        format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto Slab";
    src: url("../../final-module-1/assets/fonts/RobotoSlab-Medium.ttf")
        format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto Slab";
    src: url("../../final-module-1/assets/fonts/RobotoSlab-Thin.ttf")
        format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
